<section class="">
    <section class="mt-8 py-8 ml-8">
        <h2 class="font-circular font-bold text-xl text-black">Our Expertise</h2>
        <div class="mt-8 flex gap-4 snap-x snap-mandatory scroll-smooth overflow-x-auto">
            {

                Array(4).fill(0).map( ( value ) => {

                    return (
                        <div class="grid gap-2 snap-start">
                            <div class="bg-zinc-200 aspect-video w-[300px]"/>
                            <div class="font-circular font-bold text-lg text-black">Web Design</div>
                        </div>
                    )

                })

            }
        </div>
    </section>
</section>