---
import Container from "../../../layouts/Container.astro"
---
<section class="py-8">
    <Container>
        <video
            src="/videos/shape-showreel-2022_FINAL-compressed.mp4"
            class="w-full"
            autoplay
            loop
            muted
        />
    </Container>
</section>
