---
import Container from "../../../layouts/Container.astro"
---
<section class="py-8">
    <Container>
        <h2 class="font-circular font-bold text-center text-xl">An independent web design & branding agency in Manchester setup in 2010 who care, build relationships, have industry experience, and win awards.</h2>
    </Container>
</section>
