@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
