---
// IMPORTS ASTRO LAYOUTS
import Layout from "@/layouts/Layout.astro"

// IMPORTS ASTRO COMPONENTS
import Footer from "@/components/common/footer/index.astro"
import Header from "@/components/common/header/index.astro"
import NotFound from "@/components/common/404/index.astro"
---
<Layout
	title="4O4 PAGE NOT FOUND"
	description=""
	image=""
>
    <section class="md:h-screen md:max-h-screen">
        <Header />
        <NotFound />
    </section>
	<Footer />
</Layout>
