<section class="grid grid-cols-2">
    <div>
        <img
            src="/images/ig-1.webp"
            class="w-full aspect-square"
        />
    </div>
    <div>
        <img
            src="/images/ig-2.webp"
            class="w-full aspect-square"
        />
    </div>
</section>