---
import Container from "../../layouts/Container.astro"

// COMMON COMPONENTS
import Button from "../common/Button.astro"
import Link from "../common/Link.astro"
---
<Container>
    <section class="flex items-center justify-center py-20 flex-col gap-4">
        <h1 class="font-circular font-bold text-3xl text-center">A Web Design Agency<br/> in Manchester</h1>
        <p class="font-circular text-center">We help businesses grow online through Branding, Websites and SEO.</p>
        <div class="flex gap-4 items-center justify-center">
            <Button>View Our Work</Button>
            <Link>Meet Our Team</Link>
        </div>
    </section>
</Container>
