---
import Container from "../../layouts/Container.astro"
import Link from "../common/Link.astro"
---
<Container>
    <div class="grid gap-8">
    {

        Array(4).fill("1").map( ( value ) => {

            return (
                <div class="flex gap-2 flex-col">
                    <div class="w-full bg-zinc-200 aspect-[4/3]" />
                    <h2 class="font-circular font-bold text-xl">This is Digital</h2>
                    <p class="font-circular text-base text-gray-700">Complete brand overhaul for a digital marketing agency</h2>
                </div>
            )

        })

    }
    </div>
    <Link>
        <span>View Brand + Website Portfolio</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>
    </Link>
</Container>
